*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
build
/captures
.externalNativeBuild
.cxx
.idea
local.properties
obj
release
.aab
Android/AgoraLabs/app/src/main/assets/bytedance
Android/AgoraLabs/app/src/main/assets/faceunity
Android/AgoraLabs/app/src/main/java/io/agora/api/example/authpack.java
Android/AgoraLabs/app/libs
Android/AgoraLabs/app/src/main/res/values/string_configs.xml
Android/AgoraLabs/app/build.gradle
Android/AgoraLabs/app/agoralab.keystore
iOS
